*{
    padding: 0;
    margin:0;      
    box-sizing : border-box;
}

li{
    list-style: none;
}

a{
    text-decoration:  none;
}
.menu_liste ul li a{
    display :flex;
    justify-content: center;
    align-items : center;
    background-color:green;
    border-radius:50%;
    margin: 20px;
    transition: .5s;
}

.menu_liste ul li a i{
    font-size:2.5vmin;
}
.menu_liste ul li a:hover{
    padding: 25px;
    background-color: #1bc31b;
}
.menu_liste{
    border: 2px solid #1bc31b;
    border-radius:12px;
}
